@tailwind base;
@tailwind components;
@tailwind utilities;

$base-100: '#205A32';
$base-200: '#337A54';
$base-300: '#184426';
$base-400: '#90D8A7';

body {
	width: 100%;

	--base-100: #184426;
	--base-200: #205A32;
	--base-300: #337A54;


	--primary: #f9f871;
	--secondary: #cc8bb8;

	--transition: 0.25s;
	--spark: 1.8s;
	--speed: 1.2s;
}

.app {
	min-height: 100svh;
	// max-height: 100svh;
}

.landing-page {
	scroll-behavior: smooth !important;

// 	background: linear-gradient(
// 		to bottom,
// 		#2e8b57,
// 		#3cb371
// 	  );
}

.landing-page::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: radial-gradient(
	  circle at 50% 100%,
	  rgba(46, 139, 87, 0.2) 0%,
	  rgba(32, 63, 45, 0) 70%
	);
	filter: url(#noise);
	opacity: 0.7;
	pointer-events: none;
}


.logo {
	max-height: 10svh;
}

.router-content {
	min-height: 90svh;
}

.spacer {
	flex-grow: 1;
}

.carousel-slider {
	// width: min(100vw, 90%);
	width: 100vw;
}

.carousel-slider.career {
	min-height: 30rem;
}

.carousel-card {
	aspect-ratio: 2/3;
	// box-shadow: -10px 10px 19px #2a6445, 10px -10px 19px #184426;
}

.neu-inner-shadow {
	// box-shadow: inset 8px 8px 15px #296243, inset -8px -8px 15px #184426;
}

.contact.btn,
.profile-image {
	// box-shadow: -10px 10px 19px #2a6445, 10px -10px 19px #184426;
}

.text-shadow {
	text-shadow: -10px 10px 19px #2a6445, 10px -10px 19px #184426;
}

.blog-cover {
	width: 100%;
	height: 30svh;
	max-height: 30svh;
	position: relative;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		// object-position: 40% 50%;
	}
	.profile-pic {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.esc-button {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	z-index: 10;
	background-color: rgb(0, 0, 0, 0.5);
	border-radius: 50%;
	padding: 0.2rem;
}

.project-card {
	width: calc(2 / 3 * 100svw);

	// box-shadow: -10px 10px 19px #2a6445, 10px -10px 19px #184426;

	.content {
		.title {
			// overflow-wrap: break-word;
		}
		.tags {
			// overflow-x: auto;
		}
		.description {
			width: 100%;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
	}
}

@media (min-width: 768px) {
	.project-card {
		// width: calc(1/3*100svw);
		// min-height: calc(1/3*100svh);
		// height: fit-content;
		// aspect-ratio: 16/9;
		height: min(40svh, 20rem);

		.content {
			padding: 1rem 1rem;
		}
	}
}

*::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
	background: #205b32; /* color of the tracking area */
	border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
	background-color: #184426; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 3px solid #205b32; /* creates padding around scroll thumb */
}

.horizontal-line {
	position: absolute;
	top: 100svh;
	left: 0;
	width: 100vw;
	height: 1px;
}

.x-letter {
	text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
  }  

  .u-letter {
	text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
  }  


  .main-cta {
	border-bottom: 1px solid yellow
  }
  .main-cta::after {
	content: "";
}


// .scroll-margin-left {
// 	// scroll-margin-left: calc(100vw/2);
// 	//scroll-margin-left: 50vw;
// 	// margin-left: 50vw;
// 	margin-left: calc(50vw - ((20rem * (2 / 3)) / 2));
// }

// .scroll-margin-right {
// 	//scroll-margin-right: 50vw;
// 	margin-right: calc(50vw - ((20rem * (2 / 3)) / 2));
// }

// .card-image {
// 	mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
// 	mask-mode: alpha;

// 	&.active {
// 		mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
// 		mask-mode: alpha;
// 	}
// }

// .example-image-container {
// 	max-height: 40svh;
// }
// .example-image {
// 	aspect-ratio: 3/5;
// 	height: 100%;
// 	object-fit: contain;
// }

// @media screen and (min-width: 768px) {
// 	.example-image-container {
// 		max-height: 80svh;
// 	}
// 	.card-image {
// 		&:hover {
// 			mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
// 			mask-mode: alpha;
// 		}
// 	}

// 	.carousel-card.projects {
// 		aspect-ratio: unset;
// 		background: #337a54;

// 		// background: linear-gradient(145deg, #2e6e4c, #37835a);
// 		// box-shadow: 20px 20px 60px #2b6847, -20px -20px 60px #3b8c61;
// 		box-shadow:  -10px 10px 19px #2a6445,
//              10px -10px 19px #3c9063;
// 	}
// }

// .image-opacity-gradient-bottom {
// 	mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
// 	mask-mode: alpha;
// }

// * {
// 	min-width: 0;
// 	min-height: 0;
// }

.snake-container {
	position: relative;
	width: 100%;
	margin: 0 auto;

	// height: min(100svh, fit-content);

	// background-color: red;
	.paragraph {
		position: relative;
		margin: 50px 0;
		padding: 0 20px;
	}

	#line {
		position: absolute;
		left: 0;
		top: 0;
		width: 1px;
		height: 100%;
		background-color: var(--primary);
	}

	#glow-line {
		position: absolute;
		left: 0;
		top: 0;
		width: 1px;
		background-color: var(--primary);
		box-shadow: 0px 0px 25px 5px rgb(11, 216, 107);
		// max-height: 100svh;
		// animation: fillOnScroll;
		// scale: 1 0;
		// transform-origin: top;

		// animation: scroll-watcher linear ;
		// animation-timeline: scroll();
	}
}

@keyframes scroll-watcher {
	0% {
		scale: 1 0;
	}
	50% {
		scale: 1 1;
	}
}
@keyframes fillOnScroll {
	0% {
		height: 0%;
	}
	100% {
		height: 100%;
	}
}

.animation-test {
	h2 {
		background: linear-gradient(90deg, black, transparent);
		// background-size: 200%;
		animation: reveal both linear;
		animation-timeline: view();
		// animation-range: entry 50% cover 50%;
		background-repeat: no-repeat;
	}

	@keyframes reveal {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
	}
}

.book-card-test {
	.book {
		position: relative;
		border-radius: 10px;
		width: 220px;
		height: 300px;
		background-color: whitesmoke;
		-webkit-box-shadow: 1px 1px 12px #000;
		box-shadow: 1px 1px 12px #000;
		-webkit-transform: preserve-3d;
		-ms-transform: preserve-3d;
		transform: preserve-3d;
		-webkit-perspective: 2000px;
		perspective: 2000px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		color: #000;
	}

	.cover {
		top: 0;
		position: absolute;
		background-color: lightgray;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		cursor: pointer;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
		-webkit-transform-origin: 0;
		-ms-transform-origin: 0;
		transform-origin: 0;
		-webkit-box-shadow: 1px 1px 12px #000;
		box-shadow: 1px 1px 12px #000;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.book:hover .cover {
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
		-webkit-transform: rotatey(-80deg);
		-ms-transform: rotatey(-80deg);
		transform: rotatey(-80deg);
	}

	p {
		font-size: 20px;
		font-weight: bolder;
	}
}
