@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
	min-height: 100svh;
}

.logo {
	max-height: 10svh;
}

.content {
	min-height: 90svh;
}

.spacer {
	flex-grow: 1;
}

.carousel-slider {
	width: min(100vw, 90%);
}

.carousel-card {
	aspect-ratio: 2/3;
}

.scroll-margin-left {
	// scroll-margin-left: calc(100vw/2);
	//scroll-margin-left: 50vw;
	// margin-left: 50vw;
	margin-left: calc(50vw - ((20rem * (2 / 3)) / 2));
}

.scroll-margin-right {
	//scroll-margin-right: 50vw;
	margin-right: 50vw;
}

.card-image {
	mask-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(0, 0, 0, 1)),
		to(rgba(0, 0, 0, 0))
	);
	-webkit-mask-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(0, 0, 0, 1)),
		to(rgba(0, 0, 0, 0.01))
	);
}

.example-image-container {
	max-height: 40vh;
}
.example-image {
	aspect-ratio: 3/5;
	height: 100%;
	object-fit: contain;
}

@media screen and (min-width: 768px) {
	.example-image-container {
		max-height: 80vh;
	}
	.example-image {
	}
}

*::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
	background: #205b32; /* color of the tracking area */
	border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
	background-color: #184426; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 3px solid #205b32; /* creates padding around scroll thumb */
}

// .carousel {
//     .slick-slide {
//       transition: all 0.3s ease;
//     }

//     .slick-center {
//       transform: scale(1.2); /* Make the center card bigger */
//       z-index: 2; /* Bring the active card to the front */
//     }

//     .slick-slide:not(.slick-center) {
//       transform: scale(0.8); /* Make other cards smaller */
//       z-index: 1; /* Send other cards to the back */
//     }

//     .carousel-card {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       height: 200px; /* Adjust the height of your cards */
//       border: 1px solid #ccc;
//       box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
//       border-radius: 4px;
//       overflow: hidden;
//     }
// }
