@tailwind base;
@tailwind components;
@tailwind utilities;

$base-100: '#184426';
$base-200: '#205A32';
$base-300: '#337A54';
$base-400: '#90D8A7';

body {
	width: 100vw;
}

.app {
	min-height: 100svh;
	// max-height: 100svh;
}

.logo {
	max-height: 10svh;
}

.router-content {
	min-height: 90svh;
}

.spacer {
	flex-grow: 1;
}

.carousel-slider {
	// width: min(100vw, 90%);
	width: 100vw;
}

.carousel-slider.career {
	min-height: 30rem;
}

.carousel-card {
	aspect-ratio: 2/3;
	box-shadow: -10px 10px 19px #2a6445, 10px -10px 19px #3c9063;
}

.neu-inner-shadow {
	box-shadow: inset 8px 8px 15px #296243, inset -8px -8px 15px #3d9265;
}

.contact.btn,
.profile-image {
	box-shadow: -10px 10px 19px #2a6445, 10px -10px 19px #3c9063;
}

.text-shadow {
	text-shadow: -10px 10px 19px #2a6445, 10px -10px 19px #3c9063;
}

.blog-cover-image{
	width: 100%;
	height: 30svh;
	position: relative;
}

.esc-button {
	position: absolute;
	top: .5rem;
	right: .5rem;
	z-index: 10;
	background-color: rgb(0, 0, 0, 0.5);
	border-radius: 50%;
	padding: .2rem
}

.project-card {
	width: calc(2 / 3 * 100svw);

	box-shadow: -10px 10px 19px #2a6445, 10px -10px 19px #3c9063;

	.content {
		.title {
			// overflow-wrap: break-word;
		}
		.tags {
			// overflow-x: auto;
		}
		.description {
			width: 100%;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
	}
}

@media (min-width: 768px) {
	.project-card {
		// width: calc(1/3*100svw);
		// min-height: calc(1/3*100svh);
		// height: fit-content;
		// aspect-ratio: 16/9;
		height: min(40svh, 20rem);

		.content {
			padding: 1rem 1rem;
		}
	}
}

*::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
	background: #205b32; /* color of the tracking area */
	border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
	background-color: #184426; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 3px solid #205b32; /* creates padding around scroll thumb */
}

.horizontal-line {
	position: absolute;
	top: 100svh;
	left: 0;
	width: 100vw;
	height: 1px;
}

.animation-test {
	h2 {
		background: linear-gradient(90deg, black, transparent);
		// background-size: 200%;
		animation: reveal both linear;
		animation-timeline: view();
		// animation-range: entry 50% cover 50%;
		background-repeat: no-repeat;
	}

	@keyframes reveal {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
	}
}

// .scroll-margin-left {
// 	// scroll-margin-left: calc(100vw/2);
// 	//scroll-margin-left: 50vw;
// 	// margin-left: 50vw;
// 	margin-left: calc(50vw - ((20rem * (2 / 3)) / 2));
// }

// .scroll-margin-right {
// 	//scroll-margin-right: 50vw;
// 	margin-right: calc(50vw - ((20rem * (2 / 3)) / 2));
// }

// .card-image {
// 	mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
// 	mask-mode: alpha;

// 	&.active {
// 		mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
// 		mask-mode: alpha;
// 	}
// }

// .example-image-container {
// 	max-height: 40svh;
// }
// .example-image {
// 	aspect-ratio: 3/5;
// 	height: 100%;
// 	object-fit: contain;
// }

// @media screen and (min-width: 768px) {
// 	.example-image-container {
// 		max-height: 80svh;
// 	}
// 	.card-image {
// 		&:hover {
// 			mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
// 			mask-mode: alpha;
// 		}
// 	}

// 	.carousel-card.projects {
// 		aspect-ratio: unset;
// 		background: #337a54;

// 		// background: linear-gradient(145deg, #2e6e4c, #37835a);
// 		// box-shadow: 20px 20px 60px #2b6847, -20px -20px 60px #3b8c61;
// 		box-shadow:  -10px 10px 19px #2a6445,
//              10px -10px 19px #3c9063;
// 	}
// }

// .image-opacity-gradient-bottom {
// 	mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
// 	mask-mode: alpha;
// }

// * {
// 	min-width: 0;
// 	min-height: 0;
// }
